<div class="container brand">
<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div>
    <div>
      <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/19015356-sabtain-khan?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">I am currently reading:<p></p></a>
      <div>
          <div>
            <a title="The Crying of Lot 49" rel="nofollow" href="https://www.goodreads.com/review/show/2699501164?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Crying of Lot 49" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1375727632l/2794._SX98_.jpg" /></a>
          </div>
          <p></p>
          <div>
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2699501164?utm_medium=api&amp;utm_source=custom_widget">The Crying of Lot 49</a>
          </div>
          <div>
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/235.Thomas_Pynchon">Thomas Pynchon</a>
          </div>
      </div>
  </div>

  </div>
</div>
